@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Congratulation KiranKumar. You got selected for TCS !!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Github and Azure Pipeline CICD</a>.</p>
</div>
